*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.table {
    border: 1px solid hsla(0, 0%, 0%, 1);
  
    th,
    td {
      border: 1px solid hsla(0, 0%, 0%, 1);
    }
  }