*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 1);
}

.table {
    border: 1px solid hsla(0, 0%, 0%, 1);
    th,td {
      border: 1px solid hsla(0, 0%, 0%, 1);
      height: 20px;
    }
  }